{% extends template_path %}

{% block id %}{{ identifier }}{% endblock %}
{% block label %}<label>{{ title|raw }}</label>{% endblock %}

{% block field %}
    <div id="{{ identifier }}-oembed" class="dionysos-field oembed">
        <input type="hidden" name="{{ name }}" value="" />

        {% set _url = value is not empty ? value.url : '' %}
        {% set _height = value is not empty ? value.height : '' %}
        {% set _width = value is not empty ? value.width : '' %}
        {% set _html = value is not empty ? value.html : '' %}

        <input type="url" name="{{ name }}[url]" value="{{ _url }}" class="oembed-url large-text" placeholder="{{ t_addblock_label|raw }}" />
        <input type="hidden" name="{{ name }}[height]" value="{{ _height }}" class="oembed-height" />
        <input type="hidden" name="{{ name }}[width]" value="{{ _width }}" class="oembed-width" />
        <input type="hidden" name="{{ name }}[html]" value="{{ _html|e('html') }}" class="oembed-html" />

        <div class="oembed-canvas link-to-original{{ value is not empty ? '' : ' empty' }}">{{ _html|raw }}</div>

        <button type="button" class="zeus-btn remove-button has-icon" aria-label="{{ t_removeblock_label|raw }}">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" role="img" aria-hidden="true" focusable="false"><path d="M14.95 6.46L11.41 10l3.54 3.54-1.41 1.41L10 11.42l-3.53 3.53-1.42-1.42L8.58 10 5.05 6.47l1.42-1.42L10 8.58l3.54-3.53z"></path></svg>
        </button>

        <script>
            (function($) {
                $(document).ready(function() {
                    $("#{{ identifier }}-oembed").dionysosOembed({
                        url: '.oembed-url',
                        height: '.oembed-height',
                        width: '.oembed-width',
                        html: '.oembed-html',
                        canvas: '.oembed-canvas',
                    });
                });
            })(jQuery);
        </script>
    </div>
{% endblock %}

{% block description %}
    {{ description|raw }}
{% endblock %}
